.center-horizontal {
  margin: auto;
}


.center-vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#login-box
{
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border: 2px solid black;
}